*
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*

target/
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
!.mvn/wrapper/.gitignore


.idea/
*.iml


!pom.xml
!src/


*.log
*.tmp